@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

body {
	font-family: 'Poppins', sans-serif;
}

@theme {
	/* color pallete */
	--color-primary: #7209b7;
	--color-primary50: #7209b780;

	/* color neutrals */
	--color-black100: #353535;
	--color-black75: #676767;
	--color-black50: #9b9b9b;
	--color-black25: #cdcdcd;
	--color-white: #ffffff;

	/* color background */
	--color-white98: #fafafa;
	--color-white97: #f7f7f8;

	/* buttons */
	--color-primary-button-hover: #550788;
}

@layer components {
	.button-font {
		@apply font-semibold text-center text-[15px] leading-[22.5px] tracking-[0.5px];
	}

	.button-core {
		@apply cursor-pointer disabled:cursor-not-allowed;
	}
}
